@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  font-family: 'Heebo', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

header {
  padding: 25px 35px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header ul li {
  list-style: none;
  margin: 0 15px;
  font-weight: bold;
}

header ul li:hover {
  color: #FF6464;
  cursor: pointer;
}

.landing-page, .recent-posts, .featured-works {
  padding: 40px 150px;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 70px;
}

.landing-page div {
  width: 50%;
}

.landing-page div h1 {
  font-size: 2.3rem;
  line-height: 1.3;
}

.landing-page div p {
  color: #21243D;
  font-size: .9rem;
  padding: 30px 0;
  font-weight: 400;
}

.landing-page div button {
  font-size: .9rem;
  font-weight: 700;
  background: #FF6464;
  color: #fff;
  padding: 10px 15px;
  border: 0;
  border-radius: 2px;
}

.landing-page div button:hover {
  cursor: pointer;
  background: #f74e4e;
}

.landing-page img {
  height: 240px;
}

.recent-posts {
  background-color: #EDF7FA;
}

.recent-posts .section-header {
  padding: 0 5px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-posts .section-header .title {
  font-size: 1.1rem;
  color: #21243D;
}

.recent-posts .section-header a {
  color: #00A8CC;
  text-decoration: none;
}

.recent-posts .section-header a:hover {
  text-decoration: underline;
}

.recent-posts .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-posts .cards .card {
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  width: 47%;
}

.recent-posts .cards .card h2 {
  width: 80%;
  line-height: 1.3;
  margin-bottom: 20px;
}

.recent-posts .cards .card span, .recent-posts .cards .card p {
  color: #21243D;
}

.recent-posts .cards .card span .devider {
  padding: 10px;
}

.recent-posts .cards .card p {
  margin-top: 20px;
  font-size: .9rem;
}

.featured-works .title {
  font-size: 1.1rem;
  color: #21243D;
  margin-bottom: 10px;
}

.featured-works article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.featured-works article img {
  height: 160px;
}

.featured-works article .content {
  padding: 0 30px;
  margin-top: 10px;
}

.featured-works article .content h2 {
  margin-bottom: 20px;
}

.featured-works article .content .date {
  background-color: #142850;
  color: #fff;
  font-size: .9rem;
  font-weight: bold;
  padding: 0 7px;
  border-radius: 16px;
}

.featured-works article .content .keyword {
  color: #8695A4;
  margin-left: 25px;
}

.featured-works article .content p {
  margin-top: 20px;
  font-size: .9rem;
}

.featured-works hr {
  height: 1px;
  background-color: #E0E0E0;
  border: none;
}

footer {
  margin-top: 40px;
  padding: 40px;
  text-align: center;
}

footer .social-links a {
  text-decoration: none;
  padding: 0 15px;
  opacity: .8;
}

footer .social-links a:hover {
  opacity: 1;
}

footer p {
  font-size: .9rem;
  margin-top: 15px;
}
/*# sourceMappingURL=style.css.map */