@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  font-family: 'Heebo', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

header {
  padding: 25px 35px;
}

header .hamburger-menu {
  display: none;
}

header .hamburger-menu .menu-btn {
  display: none;
}

header .hamburger-menu .menu-btn:checked ~ .menu {
  max-height: 240px;
}

header .hamburger-menu .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .hamburger-menu .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg) translateX(7px);
          transform: rotate(-45deg) translateX(7px);
}

header .hamburger-menu .menu-btn:checked ~ .menu-icon .navicon::after {
  -webkit-transform: rotate(45deg) translateX(7px);
          transform: rotate(45deg) translateX(7px);
}

header .hamburger-menu .menu-icon {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .hamburger-menu .menu-icon .navicon {
  background: #21243D;
  display: block;
  height: 1px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 20px;
}

header .hamburger-menu .menu-icon .navicon:before, header .hamburger-menu .menu-icon .navicon:after {
  background: #21243D;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

header .hamburger-menu .menu-icon .navicon:before {
  top: 5px;
}

header .hamburger-menu .menu-icon .navicon:after {
  top: -5px;
}

header .hamburger-menu ul {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .hamburger-menu ul li {
  list-style: none;
  padding: 5px;
  text-align: center;
}

header .hamburger-menu ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

header .hamburger-menu ul li a:hover {
  color: #FF6464;
}

header .hamburger-menu .menu {
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .menu ul li {
  list-style: none;
  margin: 0 15px;
  font-weight: bold;
}

header .menu ul li a {
  color: #000;
  text-decoration: none;
}

header .menu ul li a:hover {
  color: #FF6464;
}

.landing-page, .recent-posts, .featured-works {
  padding: 40px 150px;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 70px;
}

.landing-page div {
  width: 50%;
}

.landing-page div h1 {
  font-size: 2.3rem;
  line-height: 1.3;
}

.landing-page div p {
  color: #21243D;
  font-size: .9rem;
  padding: 30px 0;
  font-weight: 400;
}

.landing-page div button {
  font-size: .9rem;
  font-weight: 700;
  background: #FF6464;
  color: #fff;
  padding: 10px 15px;
  border: 0;
  border-radius: 2px;
}

.landing-page div button:hover {
  cursor: pointer;
  background: #f74e4e;
}

.landing-page img {
  height: 240px;
}

.recent-posts {
  background-color: #EDF7FA;
}

.recent-posts .section-header {
  padding: 0 5px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-posts .section-header .title {
  font-size: 1.1rem;
  color: #21243D;
}

.recent-posts .section-header a {
  color: #00A8CC;
  text-decoration: none;
}

.recent-posts .section-header a:hover {
  text-decoration: underline;
}

.recent-posts .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-posts .cards .card {
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  width: 47%;
}

.recent-posts .cards .card h2 {
  width: 80%;
  line-height: 1.3;
  margin-bottom: 20px;
}

.recent-posts .cards .card span, .recent-posts .cards .card p {
  color: #21243D;
}

.recent-posts .cards .card span .devider {
  padding: 10px;
}

.recent-posts .cards .card p {
  margin-top: 20px;
  font-size: .9rem;
}

.featured-works .title {
  font-size: 1.1rem;
  color: #21243D;
  margin-bottom: 10px;
}

.featured-works article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.featured-works article img {
  height: 160px;
}

.featured-works article .content {
  padding: 0 30px;
  margin-top: 10px;
}

.featured-works article .content h2 {
  margin-bottom: 20px;
}

.featured-works article .content .date {
  background-color: #142850;
  color: #fff;
  font-size: .9rem;
  font-weight: bold;
  padding: 0 7px;
  border-radius: 16px;
}

.featured-works article .content .keyword {
  color: #8695A4;
  margin-left: 25px;
}

.featured-works article .content p {
  margin-top: 20px;
  font-size: .9rem;
}

hr {
  height: 1px;
  background-color: #E0E0E0;
  border: none;
}

footer {
  margin-top: 40px;
  padding: 40px;
  text-align: center;
}

footer .social-links a {
  text-decoration: none;
  padding: 0 15px;
  opacity: .8;
}

footer .social-links a:hover {
  opacity: 1;
}

footer p {
  font-size: .9rem;
  margin-top: 15px;
}

.blog-section nav ul li:nth-child(2) a {
  color: #FF6464;
}

.blog-container {
  padding: 50px 200px;
}

.blog-container h1 {
  margin-bottom: 20px;
}

.blog-container article {
  padding: 30px 0;
}

.blog-container article h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.blog-container article .date {
  margin-right: 10px;
}

.blog-container article .keyword {
  color: #8695A4;
  margin-left: 10px;
}

.blog-container article p {
  margin-top: 10px;
}

.works-section .menu ul li:nth-child(2) a {
  color: #000;
}

.works-section .menu ul li:first-child a {
  color: #FF6464;
}

.works-container {
  padding: 50px 150px;
}

.works-container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.works-container article:nth-of-type(2) {
  display: none;
}

.works-container article img {
  height: 160px;
}

.works-container article a {
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-container article .content {
  padding: 0 30px;
  margin-top: 10px;
}

.works-container article .content h2 {
  margin-bottom: 20px;
}

.works-container article .content .date {
  background-color: #142850;
  color: #fff;
  font-size: .9rem;
  font-weight: bold;
  padding: 0 7px;
  border-radius: 16px;
}

.works-container article .content .keyword {
  color: #8695A4;
  margin-left: 25px;
}

.works-container article .content p {
  margin-top: 20px;
  font-size: .9rem;
}

.detail-container {
  padding: 50px 150px;
}

.detail-container h1 {
  font-size: 1.8rem;
  margin-bottom: 25px;
  width: 90%;
  line-height: 1.3;
}

.detail-container .date {
  background-color: #FF6464;
  color: #fff;
  font-weight: 600;
  border-radius: 13px;
  padding: 0 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-right: 10px;
  font-size: .9rem;
}

.detail-container p {
  margin-top: 25px;
  font-size: .9rem;
  margin-bottom: 40px;
}

.detail-container h2 {
  margin-top: 50px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 850px) {
  .landing-page, .featured-works, .recent-posts, .works-container, .blog-container, .detail-container {
    padding: 30px 20px;
  }
  .landing-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .landing-page div {
    width: 100%;
    text-align: center;
  }
  .landing-page div h1 {
    margin-top: 40px;
  }
  .landing-page div p {
    font-size: 1rem;
  }
  .landing-page img {
    margin: 0 auto;
    width: 60%;
    min-width: 180px;
    height: auto;
  }
  .recent-posts .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recent-posts .cards .card {
    width: 100%;
    margin: 10px 0;
  }
  .works-container article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works-container article a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works-container article:nth-of-type(2) {
    display: block;
  }
  .works-container article:not(:nth-of-type(2)):not(:first-of-type) {
    display: none;
  }
  .works-container article img {
    width: 100%;
    min-width: 180px;
    height: auto;
  }
  .works-container hr:not(:nth-of-type(2)):not(:first-of-type) {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header .hamburger-menu {
    display: block;
  }
  header .menu {
    display: none;
  }
  .recent-posts .cards .card {
    width: 100%;
  }
  .featured-works .title {
    text-align: center;
    margin-bottom: 0;
  }
  .featured-works article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .featured-works article img {
    height: 320px;
  }
  .featured-works article .content {
    padding-top: 30px;
  }
  .detail-container img {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .landing-page div h1 {
    font-size: 2rem;
  }
  .featured-works article img {
    height: 230px;
  }
}

@media only screen and (max-width: 350px) {
  .landing-page div h1 {
    font-size: 1.5rem;
  }
  .recent-posts .section-header {
    font-size: .8rem;
  }
  .recent-posts .section-header .title {
    font-size: .9rem;
  }
  .recent-posts .cards .card h2 {
    width: 90%;
    font-size: 1.2rem;
  }
  .recent-posts .cards .card span {
    font-size: .9rem;
  }
  .featured-works article .content h2 {
    font-size: 1.2rem;
  }
  .featured-works article .content .keyword {
    font-size: .9rem;
  }
  footer .social-links a img {
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */