// reset css
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
} 

html, body {
    height: 100%;
}

body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
    font-family: 'Heebo', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');

// Styles
header{
    padding: 25px 35px;

    .hamburger-menu{
        display: none;
        .menu-btn {
            display: none;

            &:checked ~ .menu {
                max-height: 240px;
            }

            &:checked ~ .menu-icon{
                .navicon{
                    background: transparent;
                }
            }

            &:checked ~ .menu-icon{
                .navicon:before{
                    transform: rotate(-45deg) translateX(7px);
                }
            }

            &:checked ~ .menu-icon{
                .navicon::after{
                    transform: rotate(45deg) translateX(7px);
                }
            }
        }
        .menu-icon {
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            padding: 28px 20px;
            position: relative;
            user-select: none;

            .navicon {
                background: #21243D;
                display: block;
                height: 1px;
                position: relative;
                transition: background .2s ease-out;
                width: 20px;

                &:before, &:after {
                    background: #21243D;
                    content: '';
                    display: block;
                    height: 100%;
                    position: absolute;
                    transition: all .2s ease-out;
                    width: 100%;
                }

                &:before {
                    top: 5px;
                }
                  
                &:after {
                    top: -5px;
                }
            }
        } 

        ul {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            li{
                list-style: none;
                padding: 5px;
                text-align: center;
                a {
                    color: #000;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover{
                        color: #FF6464;
                    }
                }
            } 
        }
        .menu {
            max-height: 0;
            transition: max-height .2s ease-out;
        }
    }    

    .menu{
        ul{
            display: flex;
            justify-content: flex-end;
    
            li{
                list-style: none;
                margin: 0 15px;
                font-weight: bold;

                a{
                    color: #000;
                    text-decoration: none;

                    &:hover{
                        color: #FF6464;
                    }
                }
    
            }
        }
    }
}

.landing-page, .recent-posts, .featured-works{
    padding: 40px 150px;
}

.landing-page{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 70px;

    div{
        width: 50%;

        h1{
            font-size: 2.3rem;
            line-height: 1.3;
        }

        p{
            color: #21243D;
            font-size: .9rem;
            padding: 30px 0;
            font-weight: 400;
        }

        button{
            font-size: .9rem;
            font-weight: 700;
            background: #FF6464;
            color: #fff;
            padding: 10px 15px;
            border: 0;
            border-radius: 2px;
        
            &:hover{
                cursor: pointer;
                background: #f74e4e;
            }
        }
    }

    img{
        height: 240px;
    }
}

.recent-posts{
    background-color: #EDF7FA;

    .section-header{
        padding: 0 5px 15px 20px;
        display: flex;
        justify-content: space-between;

        .title{
            font-size: 1.1rem;
            color: #21243D;
        }

        a{
            color: #00A8CC;
            text-decoration: none;
            

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .cards{
        display: flex;
        justify-content: space-between;
        .card{
            background-color: #fff;
            padding: 30px;
            box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
            border-radius: 4px;
            width: 47%;

            h2{
                width: 80%;
                line-height: 1.3;
                margin-bottom: 20px;
            }

            span, p{
                color: #21243D;
            }

            span{
                .devider{
                    padding: 10px;
                }
            }

            p{
                margin-top: 20px;
                font-size: .9rem;
            }
        }
    }
}

.featured-works{
    .title{
        font-size: 1.1rem;
        color: #21243D;
        margin-bottom: 10px;
    }

    article{
        display: flex;
        padding: 30px 0;

        img{
            height: 160px;
        }

        .content{
            padding: 0 30px;
            margin-top: 10px;

           h2{
               margin-bottom: 20px;
           }

           .date{
               background-color: #142850;
               color: #fff;
               font-size: .9rem;
               font-weight: bold;
               padding: 0 7px;
               border-radius: 16px;
           }

           .keyword{
               color: #8695A4;
               margin-left: 25px;
           }

           p{
               margin-top: 20px;
               font-size: .9rem;
           }
        }
    }
}

hr{
    height: 1px;
    background-color: #E0E0E0;
    border: none;
}

footer{
    margin-top: 40px;
    padding: 40px;
    text-align: center;

    .social-links{
        a{
            text-decoration: none;
            padding: 0 15px;
            opacity: .8;

            &:hover{
                opacity: 1;
            }
        }
    }

    p{
        font-size: .9rem;
        margin-top: 15px;
    }
}

// blog sayfası
.blog-section{
    nav{
        ul{
           li:nth-child(2){
              a{
                  color: #FF6464;
              } 
           } 
        }
    }
}

.blog-container{
    padding: 50px 200px;

    h1{
        margin-bottom: 20px;
    }

    article{
        padding: 30px 0;

        h2{
            font-weight: 500;
            margin-bottom: 10px;
        }

        .date{
            margin-right: 10px;
        }

        .keyword{
            color: #8695A4;
            margin-left: 10px;
        }

        p{
            margin-top: 10px;
        }
    }
} 

// works sayfası
.works-section{
    .menu{
        ul{
           li:nth-child(2){
              a{
                  color: #000;
               } 
            } 
            li:first-child{
                a{
                    color: #FF6464;
                } 
            } 
        }
    }
}

.works-container{
    padding: 50px 150px;

    article{
        display: flex;
        padding: 30px 0;

        &:nth-of-type(2){
            display: none;
        }

        img{
            height: 160px;
        }

        a{
            text-decoration: none;
            color: #000;
            display: flex;
        }

        .content{
            padding: 0 30px;
            margin-top: 10px;

           h2{
               margin-bottom: 20px;
           }

           .date{
               background-color: #142850;
               color: #fff;
               font-size: .9rem;
               font-weight: bold;
               padding: 0 7px;
               border-radius: 16px;
           }

           .keyword{
               color: #8695A4;
               margin-left: 25px;
           }

           p{
               margin-top: 20px;
               font-size: .9rem;
           }
        }
    }
}

// works detail
.detail-container{
    padding: 50px 150px;

    h1{
        font-size: 1.8rem;
        margin-bottom: 25px;
        width: 90%;
        line-height: 1.3;
    }

    .date{
        background-color: #FF6464;
        color: #fff;
        font-weight: 600;
        border-radius: 13px;
        padding: 0 10px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        margin-right: 10px;
        font-size: .9rem;
    }

    p{
        margin-top: 25px;
        font-size: .9rem;
        margin-bottom: 40px;
    }

    h2{
        margin-top: 50px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 850px) {
    .landing-page, .featured-works, .recent-posts, .works-container, .blog-container, .detail-container{
        padding: 30px 20px;
    }

    .landing-page{
        flex-direction: column-reverse;

        div{
            width: 100%;
            text-align: center;
            
            h1{
                margin-top: 40px;
            }

            p{
                font-size: 1rem;
            }
        }

        img{
            margin: 0 auto;
            width: 60%;
            min-width: 180px;
            height: auto;
        }
    }

    .recent-posts{
        .cards{
            flex-direction: column;
            
            .card{
                width: 100%;
                margin: 10px 0;
            }
        }
    }

    .works-container{ 
        article{
            display: flex;
            flex-direction: column;
    
            a{
                flex-direction: column;
            }
            
            &:nth-of-type(2){
                display: block;
            }

            &:not(:nth-of-type(2)):not(:first-of-type){
                display: none;
            }

            img{
                width: 100%;
                min-width: 180px;
                height: auto;
            }
        }

        hr{
            &:not(:nth-of-type(2)):not(:first-of-type){
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    header{
        .hamburger-menu{
            display: block;
        }

        .menu{
            display: none;
        }
    }

    .recent-posts{        
        .cards{
            .card{
                width: 100%;
            }
        }
    }

    .featured-works{
        .title{
            text-align: center;
            margin-bottom: 0;
        }

        article{
            flex-direction: column;
            width: 100%;   
            
            img{
                height: 320px;
                
            }

            .content{
                padding-top: 30px;
            }
        }
    }

   .detail-container{
        img{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 450px) {
    .landing-page{
       div{
        h1{
            font-size: 2rem;
        }
       }
    }

    .featured-works{
        article{ 
            img{
                height: 230px;
            }
        }
    }
}

@media only screen and (max-width: 350px){
    .landing-page{
        div{
         h1{
             font-size: 1.5rem;
         }
        }
    }

    .recent-posts{
        .section-header{
            font-size: .8rem;

            .title{
                font-size: .9rem;
            }
        }

        .cards{
            .card{
                h2{
                    width: 90%;
                    font-size: 1.2rem;
                }

                span{
                    font-size: .9rem;
                }
            }
        }
    }

    .featured-works{
        article{
            .content{
                h2{
                    font-size: 1.2rem;
                }

                .keyword{
                    font-size: .9rem;
                }
            }
        }
    }

    footer{
        .social-links{
            a{
                img{
                    width: 200px;
                }
            }
        }
    }
}
